{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="fb-id" content="{{ fb_id }}">
    <meta name="filters" content="{{ filters }}">
    <meta name="image_url" content="{% url 'images' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />

     <!--link href="{% static 'lib/mdi/css/materialdesignicons.min.css' %}" type="text/css" rel="stylesheet"/-->
     <link href="//cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css" type="text/css" rel="stylesheet"/>
     
    <!--link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />
    <title>
    Image Editing App
    </title>
</head>

<body>
<div id="container"></div>
    {% block content %} 
    {% endblock content %}
    <!--script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <!--script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock scripts %}


</body>

</html>