{% extends "layout/base.html" %} 
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-light navbar-full navbar-light">
        <a class="navbar-brand" href="#">Image Editor</a>
        <form class="form-inline pull-xs-right">
            <img src="{{request.user.profile.image}}" alt="..." class="img-fluid img-circle" style="display:inline"> Logged In as {{request.user.first_name}} {{ request.user.last_name}}
            <a href="/logout" class="btn btn-link">Logout</a>
        </form>
    </nav>
</div>
<div class="container-fluid" id="appeditor">

</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/bundle.js' %}"></script>
{% endblock scripts %}
